/* styles.css */

/* Table styles */
.table-container {
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 20px; /* Added padding to the table */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  .close-button:hover {
    background-color: #c82333;
  }

  td {
    color: white;
  }
  
  